.card.card-single.card-new
  .card-content
    form
      label Name
      input(name='name', type='text', placeholder='ex: The Dead Poet')
      label Address
      input(name='address', type='text', placeholder='ex: 450 Amsterdam Ave (& 81st St)')
      label City
      input(name='city', type='text', placeholder='ex: New York')
      label Notes
      textarea(name='notes', placeholder='ex: Irish pub, small room, good beer, nice decoration, jukebox')
      .form-actions-inline
        button.btn.js-add Add
        button.btn.js-cancel Cancel
